<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>teamID</key>
    <string>yourTeamID</string>
    <key>method</key>
    <string>development</string>

    <key>provisioningProfiles</key>
	<dict>
		<key>填写bundleid</key>
		<string>填写描述文件名称</string>
	</dict> 

</dict>
</plist>
<!-- 导出ipa包类型:[app-store, ad-hoc, package, enterprise, development, developer-id] -->